* {
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    height: 60px;
    width: 100%;
    background-color: rgb(10, 10, 27);
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 100%;
}

@media (max-width: 280px) {
    nav {
        font-size: 1.5rem;
    }
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 25px;
}

.border {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%
}

.choices div img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%
}

@media (max-width: 550px) {
    .choices {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .choices div img {
        height: 85px;
        width: 85px;
    }

}

.border:hover {
    border: 5px solid black;
    margin: 5px;
}

.selected-choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 295px;
    height: 100px;
    position: relative;
    margin: auto;
}

@media (max-width: 350px) {
    .selected-choice {
        width: 250px;
    }
}

.user-selected-choice,
.computer-selected-choice {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    visibility: hidden;
}

.u-s-c img,
.c-s-c img {
    border-radius: 50%;
    object-fit: cover;
    height: 70px;
    width: 70px;

}

.score-board {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.initial-score {
    font-size: 2rem;
}

.msg-container {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg {
    background-color: rgb(10, 10, 27);
    color: white;
    padding: 10px;
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 10px;
}